<section class="about-page">
  <a name="about"></a>
  <div class="title" data-aos="fade-down" data-aos-duration="1500">
    About Me
  </div>
  <div class="about-me">
    <div class="about" data-aos="fade-right" data-aos-duration="1500">
      <div class="name">Short Introduction</div>
      <div class="desc">
        I'm 17 years old. I have been coding since I was 13 years old, but I
        have had passion for computers in general since I was 7 years old.
        Currently I have only 1 course left from SoftUni's Web Developer path,
        before getting a diploma.
      </div>
    </div>
    <div class="about" data-aos="fade-left" data-aos-duration="1500">
      <div class="name">Details</div>
      <div class="desc">
        Name: Kristiyan Petsanov
        <br />
        Age: 17 years old
        <br />
        Location: Petrich, Bulgaria
        <br />
        Phone Number: <a href="tel:+359878654681">+359 87 8654681</a>
        <br />
        Email:
        <a href="mailto:kristiqn3456@gmail.com">kristiqn3456@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="progress" data-aos="fade-down" data-aos-duration="1500">
    <div class="name">Web Developer Path Progression</div>
    <div class="courses">
      <div class="course done">
        Programming Basics with JavaScript (June 2022)
      </div>
      <div class="course done">
        Programming Fundamentals with JavaScript (September 2022)
      </div>
      <div class="course done">JavaScript Advanced (January 2023)</div>
      <div class="course done">JavaScript Applications (February 2023)</div>
      <div class="course done">JavaScript Back-End (May 2023)</div>
      <div class="course done">Angular (June 2023)</div>
      <div class="course done">HTML & CSS (September 2023)</div>
      <div class="course done">React (October 2023)</div>
    </div>
  </div>
</section>
