<section class="certificates-page">
  <a name="certificates"></a>
  <div class="title">Certificates, Awards & Honorable Mentions</div>
  <div class="certificates">
    <a
      class="certificate"
      href="https://softuni.bg/certificates/certificates/converttoimage/137527?code=284aeff7"
    >
      <img
        src="https://softuni.bg/certificates/certificates/converttoimage/137527?code=284aeff7"
        alt="Image did not load correctly!"
      />
      <div class="name">Programming Basics with JavaScript (June 2022)</div>
    </a>
    <a
      class="certificate"
      href="https://softuni.bg/certificates/certificates/converttoimage/149533?code=e7564a1f"
    >
      <img
        src="https://softuni.bg/certificates/certificates/converttoimage/149533?code=e7564a1f"
        alt="Image did not load correctly!"
      />
      <div class="name">
        Programming Fundamentals with JavaScript (September 2022)
      </div>
    </a>
    <a
      class="certificate"
      href="https://softuni.bg/certificates/certificates/converttoimage/160120?code=3d263789"
    >
      <img
        src="https://softuni.bg/certificates/certificates/converttoimage/160120?code=3d263789"
        alt="Image did not load correctly!"
      />
      <div class="name">JavaScript Advanced (January 2023)</div>
    </a>
    <a
      class="certificate"
      href="https://softuni.bg/certificates/certificates/converttoimage/160120?code=3d263789"
    >
      <img
        src="https://softuni.bg/certificates/certificates/converttoimage/160120?code=3d263789"
        alt="Image did not load correctly!"
      />
      <div class="name">JavaScript Applications (February 2023)</div>
    </a>
    <a
      class="certificate"
      href="https://softuni.bg/certificates/certificates/converttoimage/175212?code=d0105c3f"
    >
      <img
        src="https://softuni.bg/certificates/certificates/converttoimage/175212?code=d0105c3f"
        alt="Image did not load correctly!"
      />
      <div class="name">JavaScript Back-End (May 2023)</div>
    </a>
    <a
      class="certificate"
      href="https://www.facebook.com/pgit.petrich/posts/pfbid02FA79avwPiPWycj5xa9rum59NMEtGgzat1v7iuedHcJduz2jYctLBRUo4fUaXB3nVl"
    >
      <img
        src="https://scontent.fsof8-1.fna.fbcdn.net/v/t39.30808-6/351481034_1727265624401564_987866883863962954_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&cb=99be929b-59f725be&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Z0MgCi0kou4AX-KUuOk&_nc_ht=scontent.fsof8-1.fna&oh=00_AfB2va5-riKCUZc2bGZamY4AGief0zLK0S2u603mH8wavA&oe=64CEF3F4"
        alt="Image did not load correctly!"
      />
      <div class="name">
        Sixth Place In The National Competition In Information Technology,
        Informatics and Visual Arts
      </div>
    </a>
    <a
      class="certificate"
      href="https://www.facebook.com/pgit.petrich/posts/pfbid05g8FFWzXsy5fxpwHfrV5SmCHJ1QmmppSeeFVCaRo1GrwvFnPSc6mSAWXN4WLi8p9l"
    >
      <img
        src="https://scontent.fsof8-1.fna.fbcdn.net/v/t39.30808-6/343501853_266060569109665_7065949613629115384_n.jpg?_nc_cat=101&cb=99be929b-59f725be&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=SbDe1azDL8EAX_TcPU7&_nc_ht=scontent.fsof8-1.fna&oh=00_AfAF-dBSq4kXaFwXSypAQ3ESqok8Dy_Q42239hroIJ7XAg&oe=64CF19E6"
        alt="Image did not load correctly!"
      />
      <div class="name">
        Excellent Perfomance at The Second National Conference "Information
        Technology and Automation" 2023
      </div>
    </a>
    <a
      class="certificate"
      href="https://www.facebook.com/pgit.petrich/posts/pfbid02XEtd1CqKDaUH5sLMe36nMPQPQ59ZpWFWQAbKgpsWazyQRo44T3zcuCu2iSJcwWWsl"
    >
      <img
        src="https://scontent.fsof8-1.fna.fbcdn.net/v/t39.30808-6/321051613_507871084773896_1639967732660825284_n.jpg?_nc_cat=109&cb=99be929b-59f725be&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=EaKTj_cz294AX_bhZP2&_nc_ht=scontent.fsof8-1.fna&oh=00_AfD52BjBYXSChAKdtS4dLDrFUdfdNWFqWrqSjSrMG2Ykxw&oe=64CE71D2"
        alt="Image did not load correctly!"
      />
      <div class="name">
        Student Of The Year 2022/2023 - Category Informatics and Computer
        Science
      </div>
    </a>
    <a
      class="certificate"
      href="https://www.facebook.com/pgit.petrich/posts/pfbid037mM3noJwfXHBvZPUjq3YdZXYjtyTHkMRPYFgkJuaGoE5DAaPjTydiFRPMJabWMTMl"
    >
      <img src="/assets/first-place.png" alt="Image did not load correctly!" />
      <div class="name">
        First Place In The National C# Competition in Bulgaria 2022
      </div>
    </a>
  </div>
</section>
