<section class="home-page">
  <a name="home"></a>
  <div class="left-side">
    <div class="subtitle">Full Stack Developer</div>
    <div class="title">
      Hi, I am a full stack developer specializing in web applications
    </div>
    <div class="desc">
      I mainly develop web applications using Angular/React and JS REST API's.
      But I am always ready for new adventures :)
    </div>
    <div class="actions">
      <a href="https://www.linkedin.com/in/kristiyanpts/" class="linkedin"
        ><i class="fa-brands fa-linkedin"></i> let's chat on linkedin</a
      >
      <a href="https://www.instagram.com/kristiqnpetsanov/" class="instagram"
        ><i class="fa-brands fa-instagram"></i> let's chat on instagram</a
      >
      <a href="mailto:kristiqn3456@gmail.com" class="email"
        >or send me an email</a
      >
    </div>
  </div>
  <div class="right-side">
    <pre><code>
      {{code}}
    </code></pre>
  </div>
</section>
