<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/content/style/main.css" />
    <link rel="stylesheet" href="/content/style/work.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Kristiyan Petsanov | Work</title>
  </head>
  <body>
    <header>
      <a href="" class="logo">Kristiyan Petsanov</a>
      <ul class="navlist">
        <a href="../index.html">Home</a>
        <a href="/views/work.html" class="active-nav">Work</a>
        <a href="">Contact</a>
        <a href="">About</a>
      </ul>
      <div id="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </header>

    <section class="work-page">
      <div class="project-left">
        <div class="project-left-images">
          <img src="/content/images/chat/chat-home.png" alt="" id="project-1" />
          <button class="left-control" data-id="project-1" data-move="prev">
            <i
              class="fa-solid fa-arrow-left"
              data-id="project-1"
              data-move="prev"
            ></i>
          </button>
          <button class="right-control" data-id="project-1" data-move="next">
            <i
              class="fa-solid fa-arrow-right"
              data-id="project-1"
              data-move="prev"
            ></i>
          </button>
        </div>
        <div class="project-left-info">
          <div class="project-title">JavaScript Chat Application</div>
          <div class="project-desc">
            This project was made for the "Second Natination Conference
            'Information Technology and Automation' 2023. It won an award for
            the excellent work (1 of only 15 awards in the conference). It was
            made all by myself under the mentorship of my teacher Nadezhda
            Manchevska. Its main goal is to showcase what a person can do with
            just two months of studying web development. It has all the features
            your everyday chat has, user profile, user customization, your very
            own chats, etc. Of cours it has its downsides but its still a work
            in progress! You can had to the
            <a href="https://github.com/kristiyanpts/chatApp">github repo</a> to
            check it out for yourself.
          </div>
        </div>
      </div>
      <div class="project-left">
        <div class="project-left-info">
          <div class="project-title">JavaScript Chat Application</div>
          <div class="project-desc">
            This project was made for the "Second Natination Conference
            'Information Technology and Automation' 2023. It won an award for
            the excellent work (1 of only 15 awards in the conference). It was
            made all by myself under the mentorship of my teacher Nadezhda
            Manchevska. Its main goal is to showcase what a person can do with
            just two months of studying web development. It has all the features
            your everyday chat has, user profile, user customization, your very
            own chats, etc. Of cours it has its downsides but its still a work
            in progress! You can had to the
            <a href="https://github.com/kristiyanpts/chatApp">github repo</a> to
            check it out for yourself.
          </div>
        </div>
        <div
          class="project-left-images"
          style="border: none; border-left: 2px solid white; border-radius: 0"
        >
          <img src="/content/images/chat/chat-home.png" alt="" id="project-2" />
          <button class="left-control" data-id="project-2" data-move="prev">
            <i
              class="fa-solid fa-arrow-left"
              data-id="project-2"
              data-move="prev"
            ></i>
          </button>
          <button class="right-control" data-id="project-2" data-move="next">
            <i
              class="fa-solid fa-arrow-right"
              data-id="project-2"
              data-move="prev"
            ></i>
          </button>
        </div>
      </div>
    </section>

    <script src="/src/work.js"></script>
  </body>
</html>
