header {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

header .name {
  font-size: 30px;
  font-weight: 500;
  background: #ffff00;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-list li a {
  position: relative;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.3s all ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list li a {
  color: inherit;
  text-decoration: none;
}

.nav-list li a {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;
}

.nav-list li a:hover {
  background-size: 0 1px, 100% 1px;
}

.active-link {
  background-size: 0 1px, 100% 1px !important;
}

.language-button {
  position: relative;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.3s all ease;
  cursor: pointer;
  background-color: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
}

.language-button:hover {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
}

.menu-icon {
  position: relative;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  display: none;
}

@media only screen and (max-width: 1150px) {
  .nav-list {
    position: absolute;
    flex-direction: column;
    top: 93px;
    z-index: 100;
    border: 1px solid white;
    right: -100%;
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    transition: 0.3s all ease;
  }
  .nav-list.open {
    right: 10px;
  }
  .menu-icon {
    display: flex;
  }
  header {
    justify-content: space-between;
  }
}
