<section class="work-page">
  <a name="work"></a>
  <div class="title" data-aos="fade-down">Recent Work</div>
  <a
    href="https://github.com/kristiyanpts/UBUY"
    class="work-item"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <img src="/assets/ubuy.png" alt="Image didn't load correctly!" />
    <div class="name">UBUY</div>
    <div class="location">
      <div class="country">🇧🇬</div>
      <div class="city">Petrich, Bulgaria</div>
    </div>
  </a>
  <a
    href="https://github.com/kristiyanpts/C4Nexus-Junior-Dev-Application"
    class="work-item"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <img
      src="/assets/nexus-application.png"
      alt="Image didn't load correctly!"
    />
    <div class="name">Junior Dev Task @C4 Nexus</div>
    <div class="location">
      <div class="country">🇧🇬</div>
      <div class="city">Sofia, Bulgaria</div>
    </div>
  </a>
  <a
    href="https://github.com/kristiyanpts/LinguaLearn"
    class="work-item"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <img src="/assets/lingua-learn.png" alt="Image didn't load correctly!" />
    <div class="name">LinguaLearn</div>
    <div class="location">
      <div class="country">🇧🇬</div>
      <div class="city">Petrich, Bulgaria</div>
    </div>
  </a>
  <a
    href="https://github.com/kristiyanpts/chatApp"
    class="work-item"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <img src="/assets/chat-app.png" alt="Image didn't load correctly!" />
    <div class="name">Chat Application</div>
    <div class="location">
      <div class="country">🇧🇬</div>
      <div class="city">Petrich, Bulgaria</div>
    </div>
  </a>
  <div class="see-more" data-aos="fade-down" data-aos-duration="1500">
    <a href="https://github.com/kristiyanpts?tab=repositories"
      >view more on github</a
    >
  </div>
</section>
