.home-page {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  z-index: 2;
}

.home-text h5 {
  color: white;
  font-size: 25px;
}

.home-text h3 {
  color: white;
  font-size: 30px;
}

.home-text p {
  color: white;
  font-size: 19px;
}
