<section class="get-page">
  <div class="title">high technology to grow your business</div>
  <div class="offers">
    <div class="offer">
      <div class="name">reponsive layouts</div>
      <div class="desc">
        Your website will work perfectly on any platform, mobile or desktop.
      </div>
    </div>
    <div class="offer">
      <div class="name">SEO OPTIMIZATION</div>
      <div class="desc">
        Your target audience will find your site and services on Google.
      </div>
    </div>
    <div class="offer">
      <div class="name">high performance</div>
      <div class="desc">
        Designed and optimized to load your site faster, providing excellent
        user experience.
      </div>
    </div>
  </div>
  <div class="actions">
    <a href="https://www.linkedin.com/in/kristiyanpts/" class="linkedin"
      ><i class="fa-brands fa-linkedin"></i> let's chat on linkedin</a
    >
    <a href="https://www.instagram.com/kristiqnpetsanov/" class="instagram"
      ><i class="fa-brands fa-instagram"></i> let's chat on instagram</a
    >
    <a href="mailto:kristiqn3456@gmail.com" class="email"
      >or send me an email</a
    >
  </div>
</section>
